body{
	background-image: url(https://3.bp.blogspot.com/-D9NpWcHe_iM/XGGCnwS4OSI/AAAAAAAAF_o/wN4tXQSdUvIPtFdXL4TaaxW66jNCYmFgQCHMYCw/s1600/wallpaper-rings-horror-movies-2016-4k-movies-2362.jpg);
	text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}